<li>
	<b>{{burger_name}}</b>
	<P></P>
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}IT'S BURGER TIME!!!{{else}}THROW UP!!!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">never show me this burger ever again lol</button>
</li>
